
</div>
  <form id="form" onsubmit="validateInputs()">
    <div class="input-control">
      <input type="text" id="username" placeholder="Username">
      <div class="error"></div>
    </div>
    <div class="input-control">
      <input type="password" id="password" placeholder="Password">
      <div class="error"></div>
    </div>
    <button type="submit">Login</button>
  </form>
</body>

{{> navigation }}
