<div>
  <div class='footer'>
    <ul>
      <li><a href='https://www.facebook.com/'>Facebook</a></li>
      <li><a href='https://www.x.com/'>X</a></li>
      <li><a href='https://www.instagram.com/'>Instagram</a></li>
      <h3>© 2024 Movie Port. All rights reserved.</h3>
    </ul>
  </div>
</div>