</header>
  <div class="header">
    <h1 class="site-heading">Movie Port</h1>
      <div class="mainlogin">
        <ul>
          <a href="/">Home</a>
          <a href="/login">Login</a>
        </ul>
      </div>
  </div>
</header>