<div style='margin-bottom: 40px;'></div>
  <h4 class="nav-heading">What kind of movies are you looking for?</h4>
  <ul class="nav-links">
    <li><a href='/'>Featured Movies</a></li>
    <li><a href='/highly-reviewed-movies'>Highly Reviewed Movies</a></li>
    <li><a href='/popular-movies'>Popular Movies</a></li>
  </ul>
</div>